doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/css/main.css")
    script(type="text/script" src="/js/excellentexport-1.5/excellentexport.min.js")

  body
    h1 统计结果
    a(download="NikeRun.xls" class="pull-left" href="#" onclick="return ExcellentExport.excel(this, 'datatable', '统计')")  Export to Excel
    table(class="table table-bordered table-striped table-hover table-condensed" id="datatable")
        thead
            each item in data.heads
                th= item
        tbody
            each item, key in data.list
                tr
                   each val, key in item
                        if key === 0
                            td
                              img(src="#{val}")
                        else
                            td= val